src/main/app/flights-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">

	<flow name="getFlightsFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/${http.path}" allowedMethods="GET" doc:name="HTTP" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT *
FROM american]]></db:parameterized-query>
		</db:select>
		<dw:transform-message doc:name="Transform Message" metadata:id="b4e517b4-6524-4bcd-b383-f6939ec6aa41">
			<dw:input-payload doc:sample="sample_data/list_map.dwl" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	ID: payload01.ID,
	code: payload01.code1 ++ payload01.code2,
	price: payload01.price as :number,
	departureDate: payload01.takeOffDate as :string,
	origin: payload01.fromAirport,
	destination: payload01.toAirport,
	emptySeats: payload01.seatsAvailable as :number,
	plane: {
		type: payload01.planeType,
		totalSeats: payload01.totalSeats as :number
	}
})]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="getFlightsByIDFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/${http.path}/{ID}" allowedMethods="GET" doc:name="HTTP" />
		<ee:cache cachingStrategy-ref="Caching_Strategy" doc:name="Cache">
			<db:select config-ref="MySQL_Configuration" doc:name="Database">
				<db:parameterized-query><![CDATA[SELECT *
FROM american
WHERE ID = #[message.inboundProperties.'http.uri.params'.ID]]]></db:parameterized-query>
			</db:select>
			<logger message="IN CACHE SCOPE: CACHE HIT!" level="INFO" doc:name="Logger" />
			<json:object-to-json-transformer doc:name="Object to JSON" />
		</ee:cache>
	</flow>
	<sub-flow name="flights-appSub_Flow">
		<dw:transform-message doc:name="Transform Message" metadata:id="b4e517b4-6524-4bcd-b383-f6939ec6aa41">
			<dw:input-payload doc:sample="sample_data/list_map.dwl" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	ID: payload01.ID,
	code: payload01.code1 ++ payload01.code2,
	price: payload01.price as :number,
	departureDate: payload01.takeOffDate as :string,
	origin: payload01.fromAirport,
	destination: payload01.toAirport,
	emptySeats: payload01.seatsAvailable as :number,
	plane: {
		type: payload01.planeType,
		totalSeats: payload01.totalSeats as :number
	}
})]]></dw:set-payload>
		</dw:transform-message>
	</sub-flow>
	<flow name="postFlightFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="POST" doc:name="HTTP" />
		<set-payload value="{&quot;message&quot;: &quot;Flight added (but not really)&quot;}" doc:name="Set Payload" />
	</flow>
</mule>
